/* .roadmap_line_parent {
  background-color: rgb(216, 210, 210);
  max-width: 20px !important;
  height: 100% !important;
  border-radius: 8px;
  left: 50%;
  top: 16px;
  z-index: 1;
} */
.roadmap_line_1 {
  max-width: 20px !important;
  height: 1px;
  background-color: rgb(255, 153, 0);
  border-radius: 8px;
  left: 50%;
  top: 16px;
  z-index: 10;
}
