.roadmap_line_parent {
  background-color: rgb(216, 210, 210);
  max-width: 20px !important;
  height: 100% !important;
  border-radius: 8px;
  left: 50%;
  top: 16px;
  z-index: 1;
}
.roadmap_line_1 {
  max-width: 20px !important;
  height: 1px;
  background-color: rgb(255, 153, 0);
  border-radius: 8px;
  left: 50%;
  top: 16px;
  z-index: 10;
}
@media (max-width: 991.98px) {
  .roadmap_line_parent,
  .roadmap_line_1 {
    left: 5%;
  }
}
@media (max-width: 575.98px) {
  .roadmap_line_parent,
  .roadmap_line_1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
    max-width: 10px !important;
  }
  .box {
    width: 100%;
  }
}

.parent {
  position: relative;
  /* width: 700px; */
  height: 100vh;
  background-color: lightblue;
  overflow: hidden;
}
/* .block1,
.block2 {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 100%;
}
.block1 {
  right: 220px;
}
.block2 {
  right: 0px;
  top: 60%;
} */

.c1,
.c2,
.c3 {
  width: 100%;
  /* height: 33.3%; */
  height: 100%;
}
.c1 {
  background-color: rgba(255, 0, 0, 0.779);
}
.c2 {
  background-color: pink;
}
.c3 {
  background-color: rgba(255, 166, 0, 0.71);
}

.block1,
.block2 {
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.block1 {
  animation-name: slidedown;
}
.block2 {
  animation-name: slideup;
}
/* 
@keyframes slidedown {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* ANIMATED IMAGES VERTICAL SLIDER */
.action_img_shadow {
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
  width: 600px;
}
.index_minus_1 {
  z-index: -1;
}
.animtion_img {
  object-fit: cover !important;
  max-width: 472px;
  max-height: 412px;
}
.image_conatiner {
  transition: all 0.3s ease-in-out;
}
